{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="navbar-item">
            <h1 class="title has-text-white">StockGuard</h1>
        </span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item is-primary" href="/inventory">Inventory Management</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-primary">Reports</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/report/inventory_levels?download=true">Download Inventory Levels Report</a>
                    <a class="navbar-item" href="/report/inventory_taken?download=true">Download Inventory Taken Report</a>
                    <a class="navbar-item" href="/report/user_activity?download=true">Download User Activity Report</a>
                </div>
            </div>
        </div>

        <div class="navbar-item">
            <div class="dropdown is-right is-hoverable is-mobile custom-dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon is-small">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="/update_profile" id="updateProfile" class="dropdown-item is-primary">Update Profile</a>
                        <a href="/logout" id="logoutButton" class="dropdown-item is-primary">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item">
            <button class="button is-primary">
                <span class="icon is-small">
                    <i class="fas fa-bell"></i>
                </span>
            </button>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                <div class="card has-background-primary-light">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-boxes"></i>
                            </span>
                            Inventory Management
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p class="total-items">Total Sku: 0</p>
                            <ul>
                                <li><a class="has-text-primary" href="/inventory">View Inventory</a></li>
                                <li><a class="has-text-primary" href="/add_inventory">Add Inventory</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                <div class="card has-background-warning-light">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-clipboard-check"></i>
                            </span>
                            Take Inventory
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>Pending Tasks: 5</p>
                            <ul>
                                <li><a class="has-text-primary" href="/take_inventory" id="takeInventory">Take Inventory</a></li>
                                <li><a class="has-text-primary" href="/update_inventory">Update Inventory</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                <div class="card has-background-success-light">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-chart-line"></i>
                            </span>
                            Reports and Analytics
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>New Reports: 3</p>
                            <ul>
                                <li><a class="has-text-primary" href="/view_full_inventory" id="viewReports">View Full Inventory</a></li>
                                <li><a class="has-text-primary" href="/report/inventory_taken" id="generateReport">Generate Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                <div class="card has-background-danger-light">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            Delete Inventory
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>Items to Delete: 2</p>
                            <ul>
                            <a class="has-text-primary" href="/delete_inventory" id="deleteInventory">Delete Inventory</a>
                            <br>
                            <a class="has-text-primary" href="/deleted_inventory" id="viewDeletedInventory">View Deleted Inventory</a>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title">Products Expiring Soon</h2>
                <div class="chart-container" style="position: relative; height:300px; width:300px">
                    <canvas id="expiringSoonChart"></canvas>
                </div>
                <a class="button is-primary mt-2" href="/inventory/expiring_soon?download=true">Download Report</a>
            </div>
            <div class="column">
                <h2 class="title">Products Below Threshold</h2>
                <canvas id="belowThresholdChart"></canvas>
                <a class="button is-primary mt-2" href="/inventory/below_threshold?download=true">Download Report</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer has-background-primary" style="padding: 1rem 1.5rem;">
    <div class="content has-text-centered has-text-white">
        <p>
            <strong>StockGuard</strong> Built by <a href="https://github.com/Israelshecktar" class="has-text-white">Shecktar</a> 
            <br>
            <span class="icon">
                <i class="fas fa-envelope"></i>
            </span>
            <a href="mailto:iamshecktar1996@gmail.com" class="has-text-white">support@shecktar.com</a>
        </p>
        <p>
            <a href="https://twitter.com/shecktar5" class="has-text-white">
                <span class="icon">
                    <i class="fab fa-twitter"></i>
                </span>
            </a>
            <a href="https://linkedin.com/in/israel-ewedairo-439bb5240" class="has-text-white">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
            </a>
            <a href="https://medium.com/@shecktar" class="has-text-white">
                <span class="icon">
                    <i class="fab fa-medium"></i>
                </span>
            </a>
        </p>
    </div>
</footer>
<!-- Include Chart.js and custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/visualizations.js') }}"></script>
{% endblock %}
